USE [master]
GO
/****** Object:  Database [QuanlyKhoDoanhNghiep]    Script Date: 06/02/2019 16:52:32 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanlyKhoDoanhNghiep')
BEGIN
CREATE DATABASE [QuanlyKhoDoanhNghiep] 
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyKhoDoanhNghiep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyKhoDoanhNghiep]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 06/02/2019 16:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAIHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAIHANG](
	[ma_loaihang] [varchar](255) NOT NULL,
	[ten_loaihang] [nvarchar](255) NOT NULL,
	[mota] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_loaihang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAIHANG] ([ma_loaihang], [ten_loaihang], [mota], [IsDeleted]) VALUES (N'DAMTA', N'Loại III', NULL, 0)
INSERT [dbo].[LOAIHANG] ([ma_loaihang], [ten_loaihang], [mota], [IsDeleted]) VALUES (N'DPRBS', N'Loại V', NULL, 0)
INSERT [dbo].[LOAIHANG] ([ma_loaihang], [ten_loaihang], [mota], [IsDeleted]) VALUES (N'DQNLP', N'Loại IV', NULL, 0)
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/02/2019 16:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACHHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KHACHHANG](
	[ma_khachhang] [varchar](255) NOT NULL,
	[ten_khachhang] [nvarchar](255) NOT NULL,
	[sodienthoai] [nvarchar](20) NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khachhang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([ma_khachhang], [ten_khachhang], [sodienthoai], [diachi], [IsDeleted]) VALUES (N'1ebea872-9ea5-4933-8792-cc679f411b9b', N'Guest Com I', N'0990909090', N'Hanoi', 0)
INSERT [dbo].[KHACHHANG] ([ma_khachhang], [ten_khachhang], [sodienthoai], [diachi], [IsDeleted]) VALUES (N'335ad814-8548-4ef7-ba70-a742189ff614', N'Guest Com IV', N'0990909090', N'Hanoi', 0)
INSERT [dbo].[KHACHHANG] ([ma_khachhang], [ten_khachhang], [sodienthoai], [diachi], [IsDeleted]) VALUES (N'510ec936-2681-49b7-9507-b073d34e8ccf', N'Guest Com V', N'0990909090', N'Hanoi', 0)
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 06/02/2019 16:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DONVITINH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DONVITINH](
	[ma_donvi] [varchar](255) NOT NULL,
	[ten_donvi] [nvarchar](255) NOT NULL,
	[mota] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_donvi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DONVITINH] ([ma_donvi], [ten_donvi], [mota], [IsDeleted]) VALUES (N'DTJHH', N'Đơn vị V', NULL, 0)
INSERT [dbo].[DONVITINH] ([ma_donvi], [ten_donvi], [mota], [IsDeleted]) VALUES (N'LAQHK', N'Đơn vị II', NULL, 0)
INSERT [dbo].[DONVITINH] ([ma_donvi], [ten_donvi], [mota], [IsDeleted]) VALUES (N'MKNOF', N'Đơn vị IV', NULL, 0)
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 06/02/2019 16:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHACUNGCAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHACUNGCAP](
	[ma_nhacungcap] [varchar](255) NOT NULL,
	[ten_nhacungcap] [nvarchar](255) NOT NULL,
	[sodienthoai] [nvarchar](20) NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhacungcap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHACUNGCAP] ([ma_nhacungcap], [ten_nhacungcap], [sodienthoai], [diachi], [IsDeleted]) VALUES (N'40bfd5fa-fa4b-4701-aa97-242b5d9a2ac5', N'A Com', N'0999091290', N'JAPAN', 0)
INSERT [dbo].[NHACUNGCAP] ([ma_nhacungcap], [ten_nhacungcap], [sodienthoai], [diachi], [IsDeleted]) VALUES (N'439cf17c-1b43-4db2-8c27-b1a64f25fea9', N'G Com', N'0990909095', N'JAPAN', 0)
INSERT [dbo].[NHACUNGCAP] ([ma_nhacungcap], [ten_nhacungcap], [sodienthoai], [diachi], [IsDeleted]) VALUES (N'44477a7d-16fb-4b44-913e-f49b9cd2f461', N'B Com', N'0990909090', N'JAPAN', 0)
/****** Object:  Table [dbo].[QUYEN]    Script Date: 06/02/2019 16:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUYEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QUYEN](
	[ma_quyen] [int] IDENTITY(1,1) NOT NULL,
	[ten_quyen] [nvarchar](255) NOT NULL,
	[mota] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_quyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QUYEN] ON
INSERT [dbo].[QUYEN] ([ma_quyen], [ten_quyen], [mota], [IsDeleted]) VALUES (1, N'Quản lý', N'Quản lý', 0)
INSERT [dbo].[QUYEN] ([ma_quyen], [ten_quyen], [mota], [IsDeleted]) VALUES (2, N'Thủ kho', N'Thủ kho', 0)
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUXUAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUXUAT](
	[ma_phieuxuat] [nvarchar](255) NOT NULL,
	[ngayxuat] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieuxuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[PHIEUXUAT] ([ma_phieuxuat], [ngayxuat]) VALUES (N'3761f733-67f8-4155-9a0e-7fd55646ac16', N'8/4/2019')
INSERT [dbo].[PHIEUXUAT] ([ma_phieuxuat], [ngayxuat]) VALUES (N'3a4f7531-5795-4f24-8802-b4c7b097f219', N'9/4/2019')
INSERT [dbo].[PHIEUXUAT] ([ma_phieuxuat], [ngayxuat]) VALUES (N'53dee3a2-b32f-42ee-9ccd-6da577864faa', N'12/4/2019')
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUNHAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUNHAP](
	[ma_phieunhap] [nvarchar](255) NOT NULL,
	[ngaynhap] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieunhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[PHIEUNHAP] ([ma_phieunhap], [ngaynhap]) VALUES (N'104a435a-5f0f-4ddb-84e3-99fa7c614af9', N'1/5/2019')
INSERT [dbo].[PHIEUNHAP] ([ma_phieunhap], [ngaynhap]) VALUES (N'247cebfd-23d0-4241-9cfa-a845c4efb10f', N'7/4/2019')
INSERT [dbo].[PHIEUNHAP] ([ma_phieunhap], [ngaynhap]) VALUES (N'3b0a4c36-e5c9-46e1-82b4-93dbcd81f3bf', N'8/4/2019')
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHANVIEN](
	[ma_nhanvien] [varchar](255) NOT NULL,
	[ten_nhanvien] [nvarchar](255) NOT NULL,
	[ngaysinh] [nvarchar](20) NOT NULL,
	[sodienthoai] [nvarchar](20) NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[ma_quyen] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhanvien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHANVIEN] ([ma_nhanvien], [ten_nhanvien], [ngaysinh], [sodienthoai], [diachi], [ma_quyen], [IsDeleted]) VALUES (N'0311708783', N'Giáp Hoàng', N'28/9/1998', N'0990999999', N'Hà Nội', 2, 0)
INSERT [dbo].[NHANVIEN] ([ma_nhanvien], [ten_nhanvien], [ngaysinh], [sodienthoai], [diachi], [ma_quyen], [IsDeleted]) VALUES (N'3405116864', N'Giáp Hoàng', N'19/3/2019', N'0990900990', N'Hà Nội', 1, 0)
INSERT [dbo].[NHANVIEN] ([ma_nhanvien], [ten_nhanvien], [ngaysinh], [sodienthoai], [diachi], [ma_quyen], [IsDeleted]) VALUES (N'4979957312', N'Giáp Minh Hoàng', N'28/9/1998', N'0978123455', N'Hà Nội', 1, 0)
/****** Object:  Table [dbo].[MATHANG]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MATHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MATHANG](
	[ma_mathang] [varchar](255) NOT NULL,
	[ten_mathang] [nvarchar](255) NOT NULL,
	[hang] [nvarchar](255) NULL,
	[dong] [nvarchar](255) NOT NULL,
	[mota] [nvarchar](255) NULL,
	[ma_loaihang] [varchar](255) NULL,
	[ma_nhacungcap] [varchar](255) NULL,
	[ma_donvi] [varchar](255) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_mathang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MATHANG] ([ma_mathang], [ten_mathang], [hang], [dong], [mota], [ma_loaihang], [ma_nhacungcap], [ma_donvi], [IsDeleted]) VALUES (N'0281437444', N'Máy rửa dây nội soi bằng tia OZONE', N'Ozane', N'OZ-34', NULL, N'ORUNF', N'44477a7d-16fb-4b44-913e-f49b9cd2f461', N'LAQHK', 0)
INSERT [dbo].[MATHANG] ([ma_mathang], [ten_mathang], [hang], [dong], [mota], [ma_loaihang], [ma_nhacungcap], [ma_donvi], [IsDeleted]) VALUES (N'0334533467', N'Cân sức khỏe 2', N'MS-AA', N'CAA', NULL, N'DPRBS', N'7c69e537-00f7-4edb-a759-5456ee7e8f19', N'LAQHK', 0)
INSERT [dbo].[MATHANG] ([ma_mathang], [ten_mathang], [hang], [dong], [mota], [ma_loaihang], [ma_nhacungcap], [ma_donvi], [IsDeleted]) VALUES (N'0428442883', N'Máy đo PPP', N'ABC', N'DC', NULL, N'DAMTA', N'439cf17c-1b43-4db2-8c27-b1a64f25fea9', N'DTJHH', 0)
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TAIKHOAN](
	[ma_taikhoan] [varchar](255) NOT NULL,
	[ten_taikhoan] [nvarchar](255) NOT NULL,
	[matkhau] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[ma_nhanvien] [varchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[IsLogin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_taikhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TAIKHOAN] ([ma_taikhoan], [ten_taikhoan], [matkhau], [email], [ma_nhanvien], [IsDeleted], [IsLogin]) VALUES (N'3336863168', N'User1', N'5a7c599b6adf45fcba40873e58fd772c', N'giapminhhoang98@gmail.com', N'7724487862', 0, 0)
INSERT [dbo].[TAIKHOAN] ([ma_taikhoan], [ten_taikhoan], [matkhau], [email], [ma_nhanvien], [IsDeleted], [IsLogin]) VALUES (N'4823412727', N'User2', N'6d93300f7ca24730664cb043d7a40415', N'giapminhhoang98@gmail.com', N'0311708783', 0, 0)
INSERT [dbo].[TAIKHOAN] ([ma_taikhoan], [ten_taikhoan], [matkhau], [email], [ma_nhanvien], [IsDeleted], [IsLogin]) VALUES (N'5570957312', N'Admin1', N'1505fb613ff42078892c7b92d83af68e', N'minhhoangj1998@gmail.com', N'4979957312', 0, 0)
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[ma_ctphieunhap] [nvarchar](255) NOT NULL,
	[soluongnhap] [int] NOT NULL,
	[soluongthuc] [int] NOT NULL,
	[soluongton] [int] NOT NULL,
	[gianhap] [float] NULL,
	[giaxuat] [float] NULL,
	[ghichu] [nvarchar](max) NULL,
	[ma_phieunhap] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[ma_mathang] [varchar](255) NULL,
	[nguoitao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ctphieunhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([ma_ctphieunhap], [soluongnhap], [soluongthuc], [soluongton], [gianhap], [giaxuat], [ghichu], [ma_phieunhap], [IsDeleted], [ma_mathang], [nguoitao]) VALUES (N'06712-3867551507', 10, 10, 5, 1000000, 1210000, NULL, N'895ef50e-09ae-4eee-99f3-42c4136f74e2', 0, N'3867551507', N'Hoàng Giáp')
INSERT [dbo].[CHITIETPHIEUNHAP] ([ma_ctphieunhap], [soluongnhap], [soluongthuc], [soluongton], [gianhap], [giaxuat], [ghichu], [ma_phieunhap], [IsDeleted], [ma_mathang], [nguoitao]) VALUES (N'06807-3156128232', 10, 10, 7, 1000000, 1210000, NULL, N'895ef50e-09ae-4eee-99f3-42c4136f74e2', 0, N'3156128232', N'Hoàng Giáp')
INSERT [dbo].[CHITIETPHIEUNHAP] ([ma_ctphieunhap], [soluongnhap], [soluongthuc], [soluongton], [gianhap], [giaxuat], [ghichu], [ma_phieunhap], [IsDeleted], [ma_mathang], [nguoitao]) VALUES (N'15743-3156128232', 10, 10, 6, 1000000, 1200000, NULL, N'3b0a4c36-e5c9-46e1-82b4-93dbcd81f3bf', 0, N'3156128232', N'Giáp Minh Hoàng')
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 06/02/2019 16:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[ma_ctphieuxuat] [nvarchar](255) NOT NULL,
	[ma_ctphieunhap] [nvarchar](255) NULL,
	[ma_khachhang] [varchar](255) NULL,
	[soluongxuat] [int] NOT NULL,
	[soluongthucxuat] [int] NOT NULL,
	[ghichu] [nvarchar](max) NULL,
	[nguoitao] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[ma_phieuxuat] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ctphieuxuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETPHIEUXUAT] ([ma_ctphieuxuat], [ma_ctphieunhap], [ma_khachhang], [soluongxuat], [soluongthucxuat], [ghichu], [nguoitao], [IsDeleted], [ma_phieuxuat]) VALUES (N'02042-1528578327', N'41335-1528578327', N'1ebea872-9ea5-4933-8792-cc679f411b9b', 2, 2, NULL, N'Hoàng Giáp', 0, N'3a4f7531-5795-4f24-8802-b4c7b097f219')
INSERT [dbo].[CHITIETPHIEUXUAT] ([ma_ctphieuxuat], [ma_ctphieunhap], [ma_khachhang], [soluongxuat], [soluongthucxuat], [ghichu], [nguoitao], [IsDeleted], [ma_phieuxuat]) VALUES (N'08158-3156128232', N'54850-3156128232', N'335ad814-8548-4ef7-ba70-a742189ff614', 1, 1, NULL, N'Hoàng Giáp', 0, N'3a4f7531-5795-4f24-8802-b4c7b097f219')
INSERT [dbo].[CHITIETPHIEUXUAT] ([ma_ctphieuxuat], [ma_ctphieunhap], [ma_khachhang], [soluongxuat], [soluongthucxuat], [ghichu], [nguoitao], [IsDeleted], [ma_phieuxuat]) VALUES (N'12072-3867551507', N'36854-3867551507', N'510ec936-2681-49b7-9507-b073d34e8ccf', 2, 2, NULL, N'Hoàng Giáp', 0, N'3761f733-67f8-4155-9a0e-7fd55646ac16')
/****** Object:  ForeignKey [fk_NHANVIEN_quyen]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_NHANVIEN_quyen]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_quyen] FOREIGN KEY([ma_quyen])
REFERENCES [dbo].[QUYEN] ([ma_quyen])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_NHANVIEN_quyen]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_quyen]
GO
/****** Object:  ForeignKey [fk_MATHANG_ma_dv]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_MATHANG_ma_dv]') AND parent_object_id = OBJECT_ID(N'[dbo].[MATHANG]'))
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MATHANG_ma_dv] FOREIGN KEY([ma_donvi])
REFERENCES [dbo].[DONVITINH] ([ma_donvi])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_MATHANG_ma_dv]') AND parent_object_id = OBJECT_ID(N'[dbo].[MATHANG]'))
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_MATHANG_ma_dv]
GO
/****** Object:  ForeignKey [fk_MATHANG_ma_loai]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_MATHANG_ma_loai]') AND parent_object_id = OBJECT_ID(N'[dbo].[MATHANG]'))
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MATHANG_ma_loai] FOREIGN KEY([ma_loaihang])
REFERENCES [dbo].[LOAIHANG] ([ma_loaihang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_MATHANG_ma_loai]') AND parent_object_id = OBJECT_ID(N'[dbo].[MATHANG]'))
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_MATHANG_ma_loai]
GO
/****** Object:  ForeignKey [fk_MATHANG_ma_nhacugcap]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_MATHANG_ma_nhacugcap]') AND parent_object_id = OBJECT_ID(N'[dbo].[MATHANG]'))
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [fk_MATHANG_ma_nhacugcap] FOREIGN KEY([ma_nhacungcap])
REFERENCES [dbo].[NHACUNGCAP] ([ma_nhacungcap])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_MATHANG_ma_nhacugcap]') AND parent_object_id = OBJECT_ID(N'[dbo].[MATHANG]'))
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [fk_MATHANG_ma_nhacugcap]
GO
/****** Object:  ForeignKey [fk_TAIKHOAN_nhanvien]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TAIKHOAN_nhanvien]') AND parent_object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]'))
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [fk_TAIKHOAN_nhanvien] FOREIGN KEY([ma_nhanvien])
REFERENCES [dbo].[NHANVIEN] ([ma_nhanvien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TAIKHOAN_nhanvien]') AND parent_object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]'))
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [fk_TAIKHOAN_nhanvien]
GO
/****** Object:  ForeignKey [fk_CHITIETPHIEUNHAP_ma_mathang]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_CHITIETPHIEUNHAP_ma_mathang]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAP]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_CHITIETPHIEUNHAP_ma_mathang] FOREIGN KEY([ma_mathang])
REFERENCES [dbo].[MATHANG] ([ma_mathang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_CHITIETPHIEUNHAP_ma_mathang]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAP]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [fk_CHITIETPHIEUNHAP_ma_mathang]
GO
/****** Object:  ForeignKey [fk_CT_ma_phieunhap]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_CT_ma_phieunhap]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAP]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_CT_ma_phieunhap] FOREIGN KEY([ma_phieunhap])
REFERENCES [dbo].[PHIEUNHAP] ([ma_phieunhap])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_CT_ma_phieunhap]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAP]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [fk_CT_ma_phieunhap]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEUXUAT_PHIEUXUAT]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUXUAT_PHIEUXUAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]'))
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_PHIEUXUAT] FOREIGN KEY([ma_phieuxuat])
REFERENCES [dbo].[PHIEUXUAT] ([ma_phieuxuat])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUXUAT_PHIEUXUAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]'))
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_PHIEUXUAT]
GO
/****** Object:  ForeignKey [fk_Ma_ctnhap]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Ma_ctnhap]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]'))
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_Ma_ctnhap] FOREIGN KEY([ma_ctphieunhap])
REFERENCES [dbo].[CHITIETPHIEUNHAP] ([ma_ctphieunhap])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Ma_ctnhap]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]'))
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [fk_Ma_ctnhap]
GO
/****** Object:  ForeignKey [fk_Ma_khachhang]    Script Date: 06/02/2019 16:52:35 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Ma_khachhang]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]'))
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [fk_Ma_khachhang] FOREIGN KEY([ma_khachhang])
REFERENCES [dbo].[KHACHHANG] ([ma_khachhang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Ma_khachhang]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUXUAT]'))
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [fk_Ma_khachhang]
GO
